header {
  background: yellow;
}

footer {
  background: blue;
}

.animation__block-out {
  transition: all ease-in-out .7s;
}

.animation__block {
  position: relative;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  background: red;
  width: 130px;
  height: 130px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

  &:hover {
    //общий transition для всех подопытных
    transition: transform .7s ease-in-out;
  }
}

.animation__block-desc {
  position: absolute;
  height: 10px;
  width: 120px;
  font-size: 12px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


//Сдвигает элемент на новое место, перемещая относительно обычного положения вправо и вниз,
//используя координаты X и Y, не затрагивая при этом соседние элементы. Если нужно сдвинуть элемент влево или вверх,
//то нужно использовать отрицательные значения.
.animation__block-translate {
  &:hover {
    transform: translate(20px, 20px);
  }
}


//Сдвигает элемент относительно его обычного положения по оси X.
.animation__block-translateX {
  background: yellow;
  &:hover {
    transform: translateX(20px);
  }
}


//Сдвигает элемент относительно его обычного положения по оси Y.
.animation__block-translateY {
  background: green;
  &:hover {
    transform: translateY(20px);
  }
}


//Масштабирует элементы, делая их больше или меньше. Значения от 0 до 1 уменьшают элемент. Первое значение масштабирует
//элемент по ширине, второе — по высоте. Отрицательные значения отображают элемент зеркально.
.animation__block-scale {
  background: blue;
  &:hover {
    transform: scale(1.5, 1.5);
  }
}

//scaleX(n) Функция масштабирует элемент по ширине, делая его шире или уже. Если значение больше единицы, элемент
//становится шире, если значение находится между единицей и нулем, элемент становится уже. Отрицательные значения
//отображают элемент зеркально по горизонтали.
.animation__block-scaleX {
  background: #c50fe5;
  &:hover {
    transform: scaleX(1.5);
  }
}

//scaleY(n) Функция масштабирует элемент по высоте, делая его выше или ниже. Если значение больше единицы, элемент
//становится выше, если значение находится между единицей и нулем — ниже. Отрицательные значения отображают элемент
//зеркально по вертикали.
.animation__block-scaleY {
  background: #3adb0e;
  &:hover {
    transform: scaleY(1.5);
  }
}

//rotate(угол) Поворачивает элементы на заданное количество градусов, отрицательные значения от -1deg до -360deg
//поворачивают элемент против часовой стрелки, положительные — по часовой стрелке. Значение rotate(720deg) поворачивает
//элемент на два полных оборота.
.animation__block-rotate {
  background: #cf5b0e;
  &:hover {
    transform: rotate(45deg);
  }
}

//skew(x-угол,y-угол) Используется для деформирования (искажения) сторон элемента относительно координатных осей.
//Если указано одно значение, второе будет определено браузером автоматически.

.animation__block-skew {
  background: #31eabe;
  &:hover {
    transform: skew(30deg, 30deg);
  }
}

//skewX(угол) Деформирует стороны элемента относительно оси X.
.animation__block-skewX {
  background: #73074e;
  &:hover {
    transform: skewX(30deg);
  }
}
//skewY(угол) Деформирует стороны элемента относительно оси Y.
.animation__block-skewY {
  background: #553785;
  &:hover {
    transform: skewY(30deg);
  }
}

//matrix(a, c, b, d, x, y) Смещает элементы и задает способ их трансформации, позволяя объединить несколько функций
//2D-трансформаций в одной. В качестве трансформации допустимы поворот, масштабирование, наклон и изменение положения.
//Значение a изменяет масштаб по горизонтали. Значение от 0 до 1 уменьшает элемент, больше 1 — увеличивает.
//Значение c деформирует (сдвигает) стороны элемента по оси Y, положительное значение — вверх, отрицательное — вниз.
//Значение b деформирует (сдвигает) стороны элемента по оси X, положительное значение — влево, отрицательное — вправо.
//Значение d изменяет масштаб по вертикали. Значение меньше 1 уменьшает элемент, больше 1 — увеличивает.
//Значение x смещает элемент по оси X, положительное — вправо, отрицательное — влево.
//Значение y смещает элемент по оси Y, положительное значение — вниз, отрицательное — вверх.
.animation__block-matrix {
  background: #e716c4;

  &:hover {
    transform: matrix(1.2,0,0.5,1.2,50,0);
  }

  .animation__block-desc {
    font-size: 11px;
  }
}

//Точка трансформации transform-origin
//Свойство позволяет сместить центр трансформации, относительно которого происходит изменение положения/размера/формы
// элемента. Значение по умолчанию — center, или 50% 50%. Задаётся только для трансформированных элементов. Не наследуется.
.animation__block-transform-origin {
  background: #d9364e;
  .animation__block-desc {
    font-size: 9px;
  }

  &:hover {
    transform-origin: 10% 20%;
    transform: rotate(-45deg);
  }
}
